* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.container {
    background-color: blue; 
}
    



/* debug */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}
/* modifiche immagini */
.immagini {
    float: left;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    position: relative;


}

/* regola hover */
.imgsotto {
    display: none;
}

.immagini:hover .imgsopra {
    display: none;
}

.immagini:hover .imgsotto {
    display: block;
}
/* regola hover */

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    font-size: 40px;
    padding: 0px 12px;
    line-height: 50px;
    text-align: center;

}



