* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.container {
    background-color: blue; 
}
    



/* debug */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}
/* modifiche immagini */
.box {
    float: left;
    margin: 10px;
    width: calc(100% / 3 - 20px);

}

.immagini {
    position: relative;
}

/* regola hover */
.imgsotto {
    display: none;
}

.immagini:hover .imgsopra {
    display: none;
}

.immagini:hover .imgsotto {
    display: block;
}
/* regola hover */

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    font-size: 40px;
    padding: 0px 12px;
    line-height: 50px;
    text-align: center;

}


.metàprezzo {
    color: white;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
}

.sostenibile1 {
    color: white;
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
}



/* scritte varie */
.box span {
    font-family: sans-serif;
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.prezzo {
    color: red;
    font-size: 20px;
}

.scritteverde {
    background-color: green;
    line-height: 30px;
    padding: 10px;
}


